<div id="<%= dom_id ride_request %>">
  <p>
    <strong>Name:</strong>
    <%= ride_request.name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= ride_request.email %>
  </p>

  <p>
    <strong>Pickup time:</strong>
    <%= ride_request.pickup_time %>
  </p>

  <p>
    <strong>Location:</strong>
    <%= ride_request.location %>
  </p>

  <p>
    <strong>Notes:</strong>
    <%= ride_request.notes %>
  </p>

</div>
